header {
	padding: 5vh;
	border-bottom: solid 1px gainsboro;
}
span {
	color: #003764;
	-webkit-font-smoothing: antialiased;
}

a {
	color: initial;
}

a:hover {
	color: initial;
}

footer {
	margin-top: 5vh;
	margin-bottom: 10vh;
}
section:nth-child(2) {
	margin-bottom: 2em;
}
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="datetime"],
input[type="email"],
input[type="file"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
	width: 100%;
	height: 35px !important;
	display: block;
	clear: both;
	padding-left: 1em;
	padding-right: 1em;
	border-width: 1px;
	border-style: solid;
	border-color: #dddddd;
	border-radius: 0;
	font-size: 14px !important;
	font-weight: 300;
	color: #333333 !important;
	background-color: rgba(255, 255, 255, 0.8);
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
*,
:after,
:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	outline: 0;
	marker-offset: 0;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	color: inherit;
}
@font-face {
	font-family: Gotham;
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url(/resources/css/fonts/7fa96aa0.woff2) format("woff2"),
		url(undefined) format("woff");
}

@font-face {
	font-family: Gotham;
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url(/resources/css/fonts/1ddab6f8.woff2) format("woff2"),
		url(undefined) format("woff");
}

@font-face {
	font-family: Gotham;
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url(/resources/css/fonts/d23d96ae.woff2) format("woff2"),
		url(undefined) format("woff");
}

@font-face {
	font-family: Gotham;
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url(/resources/css/fonts/a772a67e.woff2) format("woff2"),
		url(undefined) format("woff");
}
@font-face {
	font-family: Gotham-Medium;
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url(/resources/css/fonts/Gotham-Medium.woff2) format("woff2"),
		url(undefined) format("woff");
}
@font-face {
	font-family: Gotham-Bold;
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url(/resources/css/fonts/Gotham-Bold.woff2) format("woff2"),
		url(undefined) format("woff");
}
.textBlock {
	position: relative;
	padding: 5vh 0;
}

.footerContainer {
	border-top: 2px solid #003764;
}

.socialNetwork {
	background: url(/resources/images/Social-oldnavy-.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.footerContainer ul {
	list-style: none;
	padding-left: 0;
}

.footerContainer ul li {
	display: inline-block;
	position: relative;
}

.footerContainer ul li:first-child {
	text-transform: uppercase;
}
.footerPrivacy {
	padding: unset;
}
.socialContainer {
	margin-top: 10vh;
	margin-bottom: 5vh;
}

.socialFb {
	background-position: 0 0;
	width: 30px;
	height: 30px;
	margin: 0 10px;
}

.socialTwitter {
	background-position: -46px 0;
	width: 30px;
	height: 30px;
	margin: 0 10px;
}

.socialInsta {
	background-position: -136px 0;
	width: 30px;
	height: 30px;
	margin: 0 10px;
}

.socialFb a,
.socialInsta a,
.socialTwitter a {
	color: transparent;
}

.contact {
	margin-top: 5vh;
}

@media screen and (min-width: 1024px) {
	.tag-title,
	.tag-title--level-1 {
		font-size: 34.284pt;
		font-size: 1.5rem;
		letter-spacing: 0.5px;
	}

	.tag-title--level-3 {
		font-size: 13.704pt;
		font-size: 1.142rem;
	}
}

@media screen and (max-width: 1023px) {
	.socialContainer {
		margin: 5vh 0;
	}

	.internal-page {
		padding: 10px 0 !important;
	}
	.footerPrivacy span {
		margin: 2vh 0;
		display: block;
		color: #003764;
	}
	.noPadding {
		padding: unset;
	}
}

.textDiscount {
	font-size: 0.8rem;
}

.privacy {
	color: #003764;
}

.internal-page {
	padding: 50px 0;
	letter-spacing: 0.025em;
}

.internal-page__content {
	max-width: 700px;
}

.board--big,
.board--medium,
.board--small,
.re-central--big,
.re-central--medium,
.re-central--small {
	width: auto;
}

.board--big,
.board--medium,
.board--small,
.re-central,
.re-central--big,
.re-central--medium,
.re-central--small {
	margin-left: auto;
	margin-right: auto;
}

.internal-page .tag-title {
	border-bottom: 1px solid #333333;
	text-align: left;
	line-height: 55px;
}

.tag-title,
.tag-title--level-1 {
	padding-top: 12px;
	padding-bottom: 0;
	display: block;
	line-height: 1;
	font-size: 27.684pt;
	font-size: 1.5rem;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
}

.internal-page__summary {
	font-size: 0.75em;
	padding-top: 50px;
	padding-bottom: 50px;
}

.internal-page__summary li,
.internal-page__summary p {
	color: #333333;
	list-style: disc;
}

.static-layout__paragraph {
	padding: 0;
	margin: 8px 0;
	font-size: 0.9em;
	font-weight: 400;
}
.footerPrivacy span {
	margin: 0 2vw;
	color: #003764;
}
#map {
	height: 400px;
	width: 100%;
}
.tag-title {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.47px;
	font-weight: 700;
	font-size: 17px;
	color: #333;
	line-height: 16px;
	padding-top: 10px;
	font-family: Gotham-Bold, "Helvetica Neue", Helvetica, Arial, Roboto,
		sans-serif;
}
.sucursal-list {
	height: 245px;
	margin-top: 20px;
	overflow: auto;
	background-color: #fff;
	border: solid 10px #eeeeee;
	padding: 15px;
	margin-bottom: 45px;
}
.sucursal-item-summary a {
	display: block;
}
body.stores main {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, Roboto, sans-serif;
	font-weight: 300;
	font-size: 0.87865em;
}
.flex {
	display: -webkit-flex;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
.flex-item {
	flex: 0 1 50%;
}
.direccion-sucursal > * {
	display: block;
}
.title-Store {
	font-size: 14px;
	color: #333;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, Roboto, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 10px;
}
.address-Store,
.phone-Store,
.hour-Store {
	color: #333;
	font-size: 14px;
	font-weight: 300;
	line-height: 18px;
	margin-bottom: 1em;
}
.direccion-sucursal {
	margin: 15px 0;
}
section img {
	width: 100vw;
}
